<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-4.0.xsd
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="true">

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
<!-- 				<ref bean="wangxianProductDownTrigger" /> -->
<!-- 				<ref bean="wangxianProductUpTrigger" /> -->
<!-- 				<ref bean="orderTrigger" /> -->
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>

	<bean id="wangxianProductUpTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="wangxianProductUpShelfJob" />
		<property name="cronExpression" value="0 0/1 * * * ?" /><!-- 每隔1分钟触发一次 -->
	</bean>

	<bean id="wangxianProductUpShelfJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="wangxianProductUpdater" />
		<property name="targetMethod" value="setUpShelf" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>

	<bean id="wangxianProductDownTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="wangxianProductDownShelfJob" />
		<property name="cronExpression" value="0 0/1 * * * ?" /><!-- 每隔1分钟触发一次 -->
	</bean>

	<bean id="wangxianProductDownShelfJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="wangxianProductUpdater" />
		<property name="targetMethod" value="setDownShelf" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>

	<bean id="orderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="orderFinishJob" />
		<property name="cronExpression" value="0 0/1 * * * ?" /><!-- 每隔1分钟触发一次 -->
	</bean>
	
	<bean id="orderFinishJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="orderUpdater" />
		<property name="targetMethod" value="finishOrder" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>
</beans>